{
  "linters": {
    "*.{js,jsx,tsx,ts,css}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx,tsx,ts}": [
      "eslint src --ext .js,.jsx,.ts,.tsx --fix",
      "git add"
    ],
    "*.css": [
      "stylelint src/**/*.css --fix",
      "git add"
    ]
  }
}
